n8n/workflows/data-synchronization/crm-spreadsheet-portal-sync.json
{
  "name": "Shared Workflow - CRM Spreadsheet Portal Synchronization",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "shared/data-synchronization", "responseMode": "responseNode" }, "id": "trigger", "name": "Receive sync batch", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [ -900, 0 ], "webhookId": "shared-data-synchronization" },
    { "parameters": { "jsCode": "const input=$json.body??$json;\nfor(const field of ['client_id','source_event_id','workflow_name','source_system','records','field_map']) if(input[field]===undefined||input[field]===null) throw new Error(`Missing required field: ${field}`);\nif(!['crm','spreadsheet','portal'].includes(input.source_system)) throw new Error('source_system must be crm, spreadsheet, or portal');\nif(!Array.isArray(input.records)||input.records.length===0) throw new Error('records must be a non-empty array');\nconst seen=new Set(); const failed=[]; const records=[]; const entityRefs=[];\nfor(const record of input.records){ const externalId=String(record.external_id??''); const key=`${input.source_system}:${externalId}`; if(!externalId||!record.entity_type||seen.has(key)){ failed.push(externalId||'missing-external-id'); continue; } seen.add(key); records.push({record_key:key,external_id:externalId,entity_type:record.entity_type,fields:record.fields??{},mapped_fields:Object.fromEntries(Object.entries(input.field_map).map(([from,to])=>[to,record.fields?.[from]??null]))}); if(['lead','listing','appointment'].includes(record.entity_type)&&record.entity_id) entityRefs.push({entity_type:record.entity_type,entity_id:record.entity_id,action:'synced',source_system:input.source_system,external_id:externalId}); }\nreturn [{json:{...input,event_id:`${input.client_id}:data_sync:${input.source_event_id}`,feature_type:'system_data_synchronization',records,failed_record_ids:failed,records_processed:0,records_failed:failed.length,entity_refs:entityRefs,workflow_steps:[{step_key:'validate_batch',step_name:'Validate and deduplicate batch',status:'success'}]}}];" }, "id": "normalize", "name": "Validate map and deduplicate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ -620, 0 ] },
    { "parameters": { "method": "POST", "url": "={{$env.DATA_SYNC_PROVIDER_URL}}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "={{$env.DATA_SYNC_PROVIDER_TOKEN}}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { client_id: $json.client_id, source_system: $json.source_system, event_id: $json.event_id, records: $json.records, field_map: $json.field_map } }}", "options": { "timeout": 15000 } }, "id": "adapter", "name": "Call configured sync adapter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [ -340, 0 ], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1500 },
    { "parameters": { "jsCode": "const adapter=$json; const input=$('Validate map and deduplicate').first().json; const adapterProcessed=Number(adapter.records_processed??input.records.length); const adapterFailed=Number(adapter.records_failed??0)+input.failed_record_ids.length; const status=adapterProcessed>0&&adapterFailed>0?'partial':adapterProcessed>0?'success':'error'; return [{json:{event_id:input.event_id,client_id:input.client_id,workflow_name:input.workflow_name,feature_type:input.feature_type,status,records_processed:adapterProcessed,records_failed:adapterFailed,error_message:adapterFailed?`Synchronization failed for ${adapterFailed} record(s)`:null,workflow_steps:[...input.workflow_steps,{step_key:'sync_records',step_name:'Synchronize normalized records',status:status==='error'?'error':status==='partial'?'error':'success'}],entity_refs:input.entity_refs,metadata:{source_system:input.source_system,failed_record_ids:input.failed_record_ids.slice(0,100),field_map:input.field_map}}}];" }, "id": "report", "name": "Aggregate sync result", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ -60, 0 ] },
    { "parameters": { "method": "POST", "url": "={{$env.SUPABASE_INGEST_URL}}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "X-Webhook-Secret", "value": "={{$env.WEBHOOK_SECRET}}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{$json}}", "options": { "timeout": 10000 } }, "id": "ingest", "name": "Record synchronization run", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [ 220, 0 ], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000 },
    { "parameters": { "respondWith": "json", "responseBody": "={{ { ok: true, event_id: $json.event_id, status: $json.status, records_processed: $json.records_processed, records_failed: $json.records_failed } }}", "options": { "responseCode": 202 } }, "id": "respond", "name": "Respond sync accepted", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [ 480, 0 ] }
  ],
  "connections": { "Receive sync batch": { "main": [ [ { "node": "Validate map and deduplicate", "type": "main", "index": 0 } ] ] }, "Validate map and deduplicate": { "main": [ [ { "node": "Call configured sync adapter", "type": "main", "index": 0 } ] ] }, "Call configured sync adapter": { "main": [ [ { "node": "Aggregate sync result", "type": "main", "index": 0 } ] ] }, "Aggregate sync result": { "main": [ [ { "node": "Record synchronization run", "type": "main", "index": 0 } ] ] }, "Record synchronization run": { "main": [ [ { "node": "Respond sync accepted", "type": "main", "index": 0 } ] ] } },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "shared-data-synchronization-v1",
  "tags": []
}
