n8n/workflows/shared-packages/runtime/operator-alert.json
{"name":"Shared Runtime - Operator Alert","nodes":[{"parameters":{},"id":"trigger","name":"When called by another workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-520,0]},{"parameters":{"jsCode":"const input=$json; if(!input.event_id||!input.workflow_name) throw new Error('Incomplete alert envelope'); return [{json:{event_id:input.event_id,workflow_name:input.workflow_name,status:input.status??'error',summary:String(input.error_message??'Workflow failed').slice(0,500),records_processed:Number(input.records_processed??0),records_failed:Number(input.records_failed??0),alert_dedupe_key:`${input.event_id}:final-alert`}}];"},"id":"sanitize","name":"Sanitize final alert","type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,0]},{"parameters":{"method":"POST","url":"={{$env.OPERATOR_ALERT_URL}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{$env.OPERATOR_ALERT_TOKEN}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { alert_dedupe_key: $json.alert_dedupe_key, workflow_name: $json.workflow_name, event_id: $json.event_id, status: $json.status, summary: $json.summary, records_processed: $json.records_processed, records_failed: $json.records_failed } }}","options":{"timeout":10000}},"id":"alert","name":"Send one final alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000}],"connections":{"When called by another workflow":{"main":[[{"node":"Sanitize final alert","type":"main","index":0}]]},"Sanitize final alert":{"main":[[{"node":"Send one final alert","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"shared-runtime-alert-v1","tags":[]}
