n8n/workflows/shared-packages/runtime/record-success.json
{"name":"Shared Runtime - Record Success","nodes":[{"parameters":{},"id":"trigger","name":"When called by another workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-520,0]},{"parameters":{"jsCode":"const input=$json; if(!input.event_id||!input.client_id||!input.workflow_name) throw new Error('Incomplete execution envelope'); return [{json:{...input,status:'success',records_processed:Number(input.records_processed??0),records_failed:0,workflow_steps:input.workflow_steps??[],entity_refs:input.entity_refs??[]}}];"},"id":"normalize","name":"Build success report","type":"n8n-nodes-base.code","typeVersion":2,"position":[-260,0]},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_INGEST_URL}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Webhook-Secret","value":"={{$env.WEBHOOK_SECRET}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { event_id: $json.event_id, client_id: $json.client_id, feature_type: $json.feature_type ?? 'workflow_automation', workflow_name: $json.workflow_name, status: $json.status, n8n_workflow_id: $workflow.id, records_processed: $json.records_processed, records_failed: 0, workflow_steps: $json.workflow_steps, entity_refs: $json.entity_refs, metadata: { reporter: 'shared-runtime' } } }}","options":{"timeout":10000}},"id":"ingest","name":"Ingest success","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000}],"connections":{"When called by another workflow":{"main":[[{"node":"Build success report","type":"main","index":0}]]},"Build success report":{"main":[[{"node":"Ingest success","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"shared-runtime-success-v1","tags":[]}
