n8n/workflows/shared-packages/runtime/route-operator-alert.json
{"name":"Shared Runtime - Route Operator Alert","nodes":[{"parameters":{},"id":"trigger","name":"When called by another workflow","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-700,0]},{"parameters":{"jsCode":"const input=$json; if(!input.organization_id||!input.integration_id||!input.event_id||!input.workflow_name) throw new Error('Incomplete alert route envelope'); const status=String(input.connection_health??'unknown'); if(input.enabled!==true||status!=='healthy') return [{json:{...input,route_status:'unhealthy',fallback_integration_id:input.fallback_integration_id??null,alert_dedupe_key:`${input.event_id}:final-alert`}}]; return [{json:{...input,route_status:'ready',alert_dedupe_key:`${input.event_id}:final-alert`}}];"},"id":"verify","name":"Verify route health","type":"n8n-nodes-base.code","typeVersion":2,"position":[-420,0]},{"parameters":{"method":"POST","url":"={{$env.OPERATOR_ALERT_URL}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"={{$env.OPERATOR_ALERT_TOKEN}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { alert_dedupe_key: $json.alert_dedupe_key, organization_id: $json.organization_id, integration_id: $json.integration_id, provider: $json.provider, event_type: 'workflow_failure', workflow_name: $json.workflow_name, event_id: $json.event_id, status: $json.status, records_processed: $json.records_processed ?? 0, records_failed: $json.records_failed ?? 0, summary: String($json.error_message ?? 'Workflow failed').slice(0, 500), route_status: $json.route_status } }}","options":{"timeout":10000}},"id":"send","name":"Send sanitized alert","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-100,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000}],"connections":{"When called by another workflow":{"main":[[{"node":"Verify route health","type":"main","index":0}]]},"Verify route health":{"main":[[{"node":"Send sanitized alert","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"shared-runtime-route-alert-v1","tags":[]}
