n8n/workflows/document-automation/document-generation.json
{
  "name": "Shared Workflow - Document Generation",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "shared/document-generation", "responseMode": "responseNode" }, "id": "trigger", "name": "Receive document request", "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [ -900, 0 ], "webhookId": "shared-document-generation" },
    { "parameters": { "jsCode": "const input=$json.body??$json;\nfor(const field of ['client_id','source_event_id','workflow_name','template_key','template_version','field_values','output_format']) if(input[field]===undefined||input[field]===null||input[field]==='') throw new Error(`Missing required field: ${field}`);\nconst values=input.field_values; if(typeof values!=='object'||Array.isArray(values)) throw new Error('field_values must be an object');\nfor(const field of (input.required_fields??[])) if(values[field]===undefined||values[field]===null||values[field]==='') throw new Error(`Missing required document field: ${field}`);\nconst failedConditions=(input.conditions??[]).filter((rule)=>rule.operator==='equals' && values[rule.field]!==rule.value);\nif(failedConditions.length) throw new Error('Document conditions were not satisfied');\nconst eventId=`${input.client_id}:document_generation:${input.source_event_id}`;\nreturn [{json:{...input,event_id:eventId,feature_type:'custom_business_solutions',workflow_steps:[{step_key:'validate_request',step_name:'Validate document request',status:'success'},{step_key:'evaluate_conditions',step_name:'Evaluate document conditions',status:'success'}]}}];" }, "id": "validate", "name": "Validate and map fields", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ -620, 0 ] },
    { "parameters": { "method": "POST", "url": "={{$env.DOCUMENT_PROVIDER_URL}}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "={{$env.DOCUMENT_PROVIDER_TOKEN}}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ { template_key: $json.template_key, template_version: $json.template_version, field_values: $json.field_values, approval: $json.approval ?? { mode: 'none' }, output_format: $json.output_format, event_id: $json.event_id } }}", "options": { "timeout": 15000 } }, "id": "generate", "name": "Generate document through adapter", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [ -340, 0 ], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1500 },
    { "parameters": { "jsCode": "const provider=$json; const input=$('Validate and map fields').first().json; const reference=provider.output_reference??provider.id??null; if(!reference) throw new Error('Document adapter did not return an output reference'); return [{json:{event_id:input.event_id,client_id:input.client_id,workflow_name:input.workflow_name,feature_type:input.feature_type,status:'success',records_processed:1,records_failed:0,workflow_steps:[...input.workflow_steps,{step_key:'generate_document',step_name:'Generate document',status:'success'},{step_key:'approval',step_name:'Apply approval route',status:input.approval?.mode==='none'?'skipped':'pending'}],entity_refs:input.entity_refs??[],metadata:{template_key:input.template_key,template_version:input.template_version,output_reference:reference,output_format:input.output_format}}}];" }, "id": "report", "name": "Build document run report", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [ -60, 0 ] },
    { "parameters": { "method": "POST", "url": "={{$env.SUPABASE_INGEST_URL}}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "X-Webhook-Secret", "value": "={{$env.WEBHOOK_SECRET}}" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{$json}}", "options": { "timeout": 10000 } }, "id": "ingest", "name": "Record document workflow", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [ 220, 0 ], "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 1000 },
    { "parameters": { "respondWith": "json", "responseBody": "={{ { ok: true, event_id: $json.event_id, output_reference: $json.metadata.output_reference } }}", "options": { "responseCode": 202 } }, "id": "respond", "name": "Respond document accepted", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [ 480, 0 ] }
  ],
  "connections": { "Receive document request": { "main": [ [ { "node": "Validate and map fields", "type": "main", "index": 0 } ] ] }, "Validate and map fields": { "main": [ [ { "node": "Generate document through adapter", "type": "main", "index": 0 } ] ] }, "Generate document through adapter": { "main": [ [ { "node": "Build document run report", "type": "main", "index": 0 } ] ] }, "Build document run report": { "main": [ [ { "node": "Record document workflow", "type": "main", "index": 0 } ] ] }, "Record document workflow": { "main": [ [ { "node": "Respond document accepted", "type": "main", "index": 0 } ] ] } },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "shared-document-generation-v1",
  "tags": []
}
