n8n/workflows/shared-packages/configurable-domain-modules.json
{"name":"Shared Package - Configurable Domain Modules","nodes":[{"parameters":{"httpMethod":"POST","path":"shared/configurable-domain-modules","responseMode":"responseNode"},"id":"trigger","name":"Receive package event","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-600,0],"webhookId":"shared-configurable-domain-modules"},{"parameters":{"jsCode":"const input=$json.body??$json; for(const field of ['client_id','source_event_id','workflow_name']) if(!input[field]) throw new Error(`Missing required field: ${field}`); return [{json:{...input,event_id:`${input.client_id}:configurable_domain_modules:${input.source_event_id}`,feature_type:'modular_industry_workflows'}}];"},"id":"normalize","name":"Validate package event","type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,0]},{"parameters":{"method":"POST","url":"={{$env.SUPABASE_INGEST_URL}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Webhook-Secret","value":"={{$env.WEBHOOK_SECRET}}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ { event_id: $json.event_id, client_id: $json.client_id, feature_type: $json.feature_type, workflow_name: $json.workflow_name, status: 'success', n8n_workflow_id: $workflow.id, metadata: { package: 'configurable_domain_modules' } } }}","options":{"timeout":10000}},"id":"ingest","name":"Record package run","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-80,0],"retryOnFail":true,"maxTries":3,"waitBetweenTries":1000},{"parameters":{"respondWith":"json","responseBody":"={{ { ok: true, event_id: $json.event_id } }}","options":{"responseCode":202}},"id":"respond","name":"Respond accepted","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[180,0]}],"connections":{"Receive package event":{"main":[[{"node":"Validate package event","type":"main","index":0}]]},"Validate package event":{"main":[[{"node":"Record package run","type":"main","index":0}]]},"Record package run":{"main":[[{"node":"Respond accepted","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"versionId":"shared-configurable-domain-modules-v1","tags":[]}
